<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" shutdownHook="disable">
    <Properties>
        <Property name="isThreadContextMapInheritable">true</Property>
        <Property name="stdPattern">%d{HH:mm:ss.SSS} [%-3level] %c{1}:%L [%t:%tid] - %msg%n</Property>
        <Property name="logBasePath">${log4j:configParentLocation}/logs/</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${stdPattern}"/>
        </Console>
        <RollingRandomAccessFile name="Rolling-default" filename="logs/${ctx:routeDir}/${date:yyyy-MM-dd}/default.log"
          filePattern="logs/${ctx:routeDir}/${date:yyyy-MM-dd}/default-%i.log.gz">
            <PatternLayout pattern="${stdPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <Routing name="Routing">
            <Routes pattern="$${ctx:logFilename}">

                <!-- This route is chosen if ThreadContext has no value for keys subRouteDir and filename. -->
                <Route key="$${ctx:logFilename}">
                    <Async name="AsyncRollingRAFFile">
                        <AppenderRef ref="Rolling-default"/>
                    </Async>
                </Route>
                <!-- This route is chosen if ThreadContext has a value for routeDir, subRouteDir and filename
            The value dynamically determines the name of the log file. -->
                <Route>
                    <RollingRandomAccessFile name="Rolling-${ctx:logFilename}"
                      filename="logs/${ctx:routeDir}/${date:yyyy-MM-dd}/${ctx:logFilename}.log"
                      filePattern="logs/${ctx:routeDir}/${date:yyyy-MM-dd}/${ctx:logFilename}-%i.log.gz">
                        <PatternLayout pattern="${stdPattern}"/>
                        <Policies>
                            <SizeBasedTriggeringPolicy size="10 MB"/>
                        </Policies>
                    </RollingRandomAccessFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="STDOUT" level="error"/>
        </Root>
    </Loggers>
</Configuration>